* {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: $color-grafy;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 200;
    font-style: normal;
    
    a{
        text-decoration: none;
        
    }

}
html,body{
    background-color: rgb(30, 28, 28);
}